@import "tailwindcss";

/* =========================
   Global color variables
   ========================= */
:root {
  --color-bg-main: #ffba82;   /* Sky Blue */
  --color-bg-card: #ffadc0;   /* Aqua */
  --color-text-main: #bf0616; /* Dark text */
}

/* Make the app use the background everywhere */
html, body, #root {
  height: 100%;
}

body {
  background: var(--color-bg-main);
  color: var(--color-text-main);
}

/* Simple reusable “card” style */
.card {
  background: var(--color-bg-card);
  border-radius: 1rem;
  padding: 1.5rem;
}
